@import url("https://fonts.googleapis.com/css2?family=Flow+Rounded&family=Inter:wght@200;300;400&display=swap");
:root {
  --primary: 18, 18, 18;
  --secondary: 25, 25, 25;
  --extra: 12, 12, 12;
}
* {
  font-family: inter;
}
/* width */
::-webkit-scrollbar {
  width: .4em;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.03);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html{width: 100%; height: 100%;}
body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  z-index: -2;
  width: 100%;
  height: 100%;
  position: relative;
}
canvas {
  cursor: grab;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}
.closeButton {
  position: absolute;
  left: 100%;
  transform: translate(-100%);
}


#errorMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px) brightness(70%);
  color: white;
  z-index: 30;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}
#errorMenu.open{
  opacity: 1;
  pointer-events: all;
}
.errorPart {
  min-width: 15em;
  min-height: 7.5em;
  padding: 3em 4em;
  border-radius: 1em;
  border: 1px solid hsl(0, 36%, 37%);
  background-color: rgba(var(--primary), .7);
  display: flex;
  flex-direction: column;
}
.errorPart div{
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}
.errorPart button{
  background-color: rgb(var(--extra));
  border: 1px solid hsl(0, 36%, 37%);
  color: white;
  max-height: 2em;
  border-radius: .3em;
  min-width: 15px;
  min-height: 15px;
  cursor: pointer;
}
.errorPart button:hover{filter: brightness(50%);}
#errorMenu hr {
  border: none;
  border-top: 1px solid hsl(0, 36%, 37%);
  width: 100%;
}
#creds{
  user-select: none;
  cursor: grab;
  z-index: 10;
  top: 100%;
  right: .3%;
  position: absolute;
  color: rgba(90, 90, 90, 0.479);
  font-weight: 200;
  transform: translate(0, -203%);
}
.underline{text-decoration: underline;}
.menu {
  z-index: 2;
  position: absolute;
  max-height: 10%;
  max-width: 17%;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 96%;
  transform: translate(-50%, -100%);
  background-color: rgb(var(--primary), 0.75);
  backdrop-filter: blur(7px);
  box-shadow: 3px 4px 7px 4px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: space-between;
}
.svg-container {
  width: 70px; /* Adjust the width as needed */
  height: 70px; /* Adjust the height as needed */
}
.uploadButton {
  fill: rgba(255, 255, 255, 0.7);
  stroke: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: fill 0.15s, background-color 0.15s;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.uploadButton:hover {
  background-color: rgba(255, 255, 255, 0.02);
  fill: white;
  stroke: white;
}
#shirtUpload,
#pantsUpload {
  display: none;
}
.renderType {
  z-index: 2;
  position: absolute;
  max-height: 4%;
  max-width: 8.7%;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 4%;
  transform: translate(-50%, -50%);
  background-color: rgb(var(--extra), 0.75);
  backdrop-filter: blur(7px);
  box-shadow: 3px 4px 7px 4px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.renderOption {
  width: 100%;
  height: 100%;
  /* background-color: rgba(var(--primary)); */
  border: 1px solid rgb(var(--color-accentRGB), 0.2);
  cursor: pointer;
  transition: border 0.3s, color 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.03);
  transition: border 0.2s, background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.renderOption img {
  height: fit-content;
  width: 65%;
}
.tooltipText {
  user-select: none;
  color: white;
  background-color: rgb(var(--primary), 0.75);
  backdrop-filter: blur(7px);
  box-shadow: 3px 4px 7px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 100;
  font-size: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.4rem;
  white-space: nowrap;

  visibility: hidden;
  position: absolute;
  top: 120%;
  z-index: 3;
}
.renderOption:hover .tooltipText,
.buttonReset:hover .tooltipText,
.button2D:hover .tooltipText {
  visibility: visible;
}

.button2D {
  user-select: none;
  z-index: 2;
  position: absolute;
  max-height: 3%;
  max-width: 2%;
  height: 100%;
  width: 100%;
  left: 43.7%;
  top: 4%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  cursor: pointer;
  color: white;
  font-weight: 900;
  background-color: rgb(var(--extra), 0.75);
  backdrop-filter: blur(7px);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 0.3%;
  align-items: center;
  justify-content: space-around;
  transition: border 0.2s, background-color 0.2s;
}
.button2D:hover,
.buttonReset:hover,
.renderOption:hover {
  background-color: rgba(var(--secondary));
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.buttonReset {
  z-index: 2;
  position: absolute;
  max-height: 3%;
  max-width: 2%;
  height: 100%;
  width: 100%;
  left: 56.3%;
  top: 4%;
  transform: translate(-50%, -50%);
  font-size: 0.8vw;
  cursor: pointer;
  color: white;
  stroke: white;
  fill: white;
  font-weight: 900;
  background-color: rgb(var(--extra), 0.75);
  backdrop-filter: blur(7px);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 0.3%;
  align-items: center;
  justify-content: space-around;
  transition: border 0.2s, background-color 0.2s;
}

.mainMenu {
  z-index: 3;
  position: absolute;
  width: auto;
  height: auto;
  max-width: fit-content;
  max-height: fit-content;
  min-width: 25vw;
  min-height: 25vh;
  padding: 1%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  stroke: white;
  fill: white;
  background-color: rgb(var(--extra), 0.75);
  backdrop-filter: blur(7px);
  box-shadow: 3px 5px 10px 4px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  text-align: center;
  display: none;
}
#closeMainMenu {
  height: 4%;
  margin-left: auto;
  cursor: pointer;
  fill: rgb(125, 125, 125);
  stroke: rgb(125, 125, 125);
  transition: fill .1s, stroke .1s;
  position: absolute;
  right: 10px;
}
#closeMainMenu:hover{
  fill: white;
  stroke: white;
}
#image2D{
  border-radius: 6px;
  max-width: 749px;
  max-height: 350px;
  height: fit-content;
  width: 90%;
  object-fit: contain;
  margin-top: 5%;
  border: 1px solid rgba(255, 255, 255, .2);
  cursor: pointer;
  transition: filter .2s, border .2s;
}
#image2D:hover{
  filter: brightness(1.1);
  border: 1px solid rgba(255, 255, 255, .4);
}
.menuButton{
  max-width: 749px;
  width: 90%;
  height: 15%;
  margin-top: 2%;
  background-color: rgba(var(--secondary), .3);
  border: 1px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(7px);
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.2s;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.menuButton:hover{
  background-color: rgba(37, 37, 37, 0.3);
  border: 1px solid rgba(255, 255, 255, .3);
}
.bold{
  font-weight: 900;
  font-size: 1.2rem;
  color: white;
}

.popupContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px) brightness(70%);
  color: white;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}
.popupContainer.open{
  opacity: 1;
  pointer-events: all;
}
.popupMenu{
  background-color: rgba(var(--primary), .7);
  min-width: 30em;
  min-height: 15em;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.popupMenuTitle{
  display: flex;
  height: fit-content;
  font-size: .7em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.popupMenuTitle button{
  border: none;
  height: 50%;
  padding: .3em;
  border-radius: .3em;
  color: white;
  background-color: rgb(var(--extra));
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.popupMenuTitle button:hover{
  filter: brightness(50%);
}

#menu2D{
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#updateLog{ 
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  max-height: 20em;
  overflow-y: scroll;
  margin-top: 1em;
}
#updateLog p{
  line-height: 1.5em;
  max-width: 90%;
}



.bottomBar{
  z-index: 100;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  color: rgba(255, 255, 255, .3);
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  bottom: 0;
  font-size: .7em;

  width: 100%;
  height: 3%;
  display: flex;
}
a{
  color: currentColor;
  font-weight: 900;
}

.dropZone{
  position: relative;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 1;
}
/* .dropOption{
  width: 100%;
  height: calc(100% - .3em);

  z-index: 10;
  background: rgb(var(--extra), .7);
  filter: brightness(70%);
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 1s;
}
.dropOption:hover{
  filter: brightness(60%);
  backdrop-filter: blur(25px);
}
.dropOption.leftBorder{border-left: 1px solid rgba(255, 255, 255, 0.3); transition: border .3s;}
.dropOption.rightBorder{border-right: 1px solid rgba(255, 255, 255, 0.3); transition: border .3s;} */


#Drop-backdrop{
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  
  background-color: rgba(var(--extra), .7);
  backdrop-filter: blur(7px);
  box-sizing: border-box;
  transition: .5s;

  display: flex;
}
.dropOption{
  width: 100%;
  height: 100%;
  z-index: 10;

  cursor: pointer;
  backdrop-filter: brightness(20%);
  stroke: hsl(0, 0%, 30%);
  box-sizing: border-box;
  transition: backdrop-filter .3s, stroke .3s;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropOption svg{
  max-width: 50%;
  pointer-events: none;
}
.dropOption.hovering{
  backdrop-filter: brightness(80%);
  stroke: hsl(0, 0%, 90%);
}

#Drop-backdrop.hidden{
  pointer-events: none;
  opacity: 0;
}
#Drop-backdrop.visible{
  pointer-events: auto;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .renderType {
    max-height: 5%;
    max-width: 40%;
    left: 50%;
    top: 5%;
  }
  .menu {
    max-height: 9%;
    max-width: 50%;
  }
  .button2D {
    max-height: 5%;
    max-width: 10%;
    top: 5%;
    left: 22%;
    font-size: 4vw;
  }
  .buttonReset {
    max-height: 5%;
    max-width: 10%;
    top: 5%;
    left: 78%;
    font-size: 4vw;
  }
  #mainMenu{
    top: 50%;
    width: 80vw;
    padding: 5%;
  }
  .popupMenu{
    min-height: 10em;
    min-width: 10em;
    max-width: 15em;
    max-height: 30em;
  }
  .errorPart{
    min-height: 10em;
    min-width: 10em;
    max-width: 15em;
    max-height: 30em;
  }
}
